
.albomTitle {
	color: white;
	margin-top: 10px;
	margin-left: 5px;
	font-size: 16px;
}


.albomAvtor {
	color: #4C4A5A;
	margin-top: 5px;
	margin-left: 5px;
	font-size: 15px;
}

.albomPhoto {
	height: 150px;
	width: 150px;
	border-radius: 10px;
}


.wrapper_for_slider {
	display: flex;
	gap: 15px;
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none;
	overflow: scroll;
}

.wrapper_for_slider::-webkit-scrollbar { /* WebKit */
	width: 0;
	height: 0;
}

.wrapperForRECSlider .swiper-slide {
	width: 165px !important;
}

.mt-40 {
	margin-top: 40px;
}

.mb-40 {
	margin-bottom: 40px;
}