
.Wrapper {
	background-color: black;
	min-height: 100vh;
	color: white;
}


.LayoutPadding {
	padding: 20px;
}

.LayoutBottomPadding {
	padding-bottom: 100px;
}

.navigateIcons {
	font-size: 30px;
}

.navigationBar {
	background-color: white;
	width: 100%;
	display: flex;
	left: 50%;
	transform: translate(-50%, 0);
	height: 80px;
	z-index: 1000;
	position: fixed;
	bottom: 0px;
	align-items: center;
	justify-content: center;
	gap: 40px;
	
	border-radius: 16px 16px 0px 0px;
	transition: ease 0.5s;
}

.navigationBar a {
	color: #8A8991;
	transition: ease 0.5s;
}

.navigationBar a:hover {
	scale: 100%;
}


.navigationBar a:active {
	color: deepskyblue;
}

.flexLayaut {
	display: flex;
}

.ErrorPage {
	align-items: center;
	justify-content: center;
	display: flex;
	text-align: center;
	
	.ErrorText {
		margin-bottom: 15px;
	}
	
	.ErrorLink {
		text-decoration: none;
		margin-top: 30px;
		background-color: #6A51F2;
		color: white;
		padding: 5px 15px 5px 15px;
		border-radius: 10px;
	}
}