
.HomeAlbomWrapper {
	height: 400px;
	margin-top: 40%;
	z-index: 1000;
}

.HomealbomPhoto {
	height: 200px;
	width: 200px;
	object-fit: cover;
	border-radius: 10px;
}

//
//.ActiveCardSlide {
//	transition: ease 0.3s;
//	width: 200px !important;
//	transform: rotate(0deg) !important;
//}
//
//.NextSlide {
//	transition: ease 0.3s;
//	color: transparent;
//	transform: rotate(10deg) !important;
//
//}
//
//.PrevSlide {
//	transition: ease 0.3s;
//	transform: rotate(-10deg) !important;
//}



