
.MoviePageBg:after {
	background: rgb(0, 0, 0);
	background: linear-gradient(0deg, rgba(0, 0, 0, 1) 5%, rgba(255, 255, 255, 0) 25%);
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	position: absolute;
	height: 60vh;
	z-index: 1;
}


.FavoritesButtonWrapper {
	background-color: #20262D;
	border-radius: 100%;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	
	.button {
	
	}
	
}

.MoviePageBg {
	height: 60vh;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	width: auto;
	margin: 0 auto;
}

.ButtonInHeader {
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	
	
	.HeaderIcon {
		background-color: #20262D;
		padding: 10px;
		font-size: 25px;
		border-radius: 100%;
		align-items: center;
		justify-content: center;
		position: relative;
		z-index: 1000;
		cursor: pointer;
	}
}

.ContentWrapper {
	padding-left: 15px;
	padding-right: 15px;
	
	
	.RattingWraper {
		display: flex;
		gap: 5px;
	}
	
	.RatingIcons {
		color: #F9BC2B;
		font-size: 25px;
	}
	
	.RattingText {
		font-size: 20px;
		display: flex;
		gap: 10px;
	}
}


.ContentWrapper h3 {
	margin-top: 10px;
	color: #8A8991;
}

.GenresWrapper {
	display: flex;
	gap: 10px;
	margin-top: 10px;
	
	.GenresElement {
		color: white;
		background-color: #20262D;
		padding: 5px 10px 5px 10px;
		border-radius: 15px;
		display: flex;
		font-size: 16px;
	}
}


.ActorHeaderText {
	font-size: 30px;
	margin-top: 30px;
	margin-bottom: 20px;
}


.ActorPhoto {
	width: 70px;
	height: 100%;
	object-fit: cover;
	border-radius: 20px 0px 0px 20px;
}

.ActorName {
	font-size: 21px;
	align-items: center;
	justify-content: center;
	display: flex;
	margin-left: 10px;
	text-decoration: none !important;
	color: white;
}


.ActorsWrapper {
	gap: 5px;
	align-items: center;
	justify-content: center;
	display: flex;
	
}

.swiper {
	margin-left: 0 !important;
	margin-right: 0 !important;
	position: relative;
}

.ActorSlider {
	position: relative;
	border-radius: 20px;
	display: flex;
	background-color: #20262D;
	
}

.LinkWrapper {
	max-width: 240px;
	margin-right: 20px;
	text-decoration: none;
	height: 100%;
}


.ContentWrapper .swiper-slide {
	height: 100px;
	margin-right: 20px;
	outline: none;
	max-width: 250px;
	border-radius: 100px;
}

.WatchWrapper {
	padding: 10px 20px 10px 20px;
	color: white;
	background-color: #20262D;
	font-weight: bold;
	border-radius: 5px;
}

.TitleAndWatch {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
