.Search_imput {
	background-color: #20262D;
	border: none;
	margin: 10px 20px;
	width: calc(100% - 40px);
	box-sizing: border-box;
	height: 50px;
	font-size: 18px;
	color: white;
	text-decoration: none;
	text-shadow: none;
	text-indent: 10px;
}

.Search_imput::placeholder {
	color: white;
	font-family: "Object-Bold";
}

