.recAvtor {
	font-size: 13px;
	color: #4C4A5A;
}

.recTitle {
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 5px;
}

.recFoto {
	border-radius: 5px;
	width: 60px;
	height: 60px;
}

.info_wrapper {
	display: flex;
	gap: 15px;
	align-items: center;
}

.text_wrapper {
	display: block;
	
}

.Element_wrapper {
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.favorites_button {
	font-size: 23px;
}

.mt-40 {
	margin-top: 40px;
}

.mb-40 {
	margin-bottom: 40px;
}
